<p id="notice"><%= notice %></p>

<h2>
  <%= @style.name %>
</h2>

<p>
  <b>Description:</b>
  <%= @style.description %>
</p>

<h3>beers</h3>



<%= link_to 'Edit', edit_style_path(@style), :class => "btn btn-primary" %>
<% if current_user_admin? %>
<%= link_to 'Destroy', style,
            :method => :delete, :data => { :confirm => 'Are you sure?' },
            :class => "btn btn-danger"%>
<% end %>
