<h1>Beer places search</h1>

<p id="notice"><%= notice %></p>

<%= form_tag places_path do %>
  city <%= text_field_tag :city, params[:city] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @locations %>
  <table>
    <thead>
      <% Location.rendered_fields.each do |f| %>
        <td><%=f %></td>
      <% end %>
    </thead>
    <% @locations.each do |location| %>
      <tr>
        <% Location.rendered_fields.each do |f| %>
          <td>
            <% if f.to_s!='name' %>
              <%= location.send(f) %>
            <% else %>
               <%= link_to location.name, place_path(location.id) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>